extends layout
block content
        include ./navbar
        .container-fluid#Home
                .card.m-auto
                        include ./messages/message
                include ./partials/files
        .navbar.sticky-bottom(style="background:#ccc")
                .nav
                        p follow@
                        a.fab.fa-google.nav-link.fa-2x.text-danger(href="http://www.google.com/therealgemjosh")
                        a.fab.fa-facebook.nav-link.fa-2x.text-primary(href="https://web.facebook.com/gem.josh.9")
                        a.fab.fa-instagram.nav-link.fa-2x.text-danger(href="http://www.instagram.com/gems_dev")
                        a.fab.fa-github.nav-link.fa-2x.text-dark(href="http://github.com/therealgemjosh")
                p copyright &copy; gems, 2019 