extends layout
block content
    .container
        h2 future expectations
        p This is just the version 1.0.0 of the app. More coming in nearest future.
        a.nav-link.fa.fa-arrow-left.fa-2x(href="/")