.navbar.navbar-expand-md.sticky-top.bg-secondary.navbar-dark#Navbar
    .container
        a.navbar-brand.text-capitalize(href ="/") gfs fileuploader
        form.form-inline.mx-auto
            input.form-control.bg-dark.text-white.border-0(type="search" placeholder="find photos..." name="search")
        button.navbar-toggler(data-toggle="collapse" data-target="#collapseMenu" )
            span.navbar-toggler-icon
        .collapse.navbar-collapse#collapseMenu
            ul.navbar-nav.float-right.ml-auto
                if user
                    li.nav-item
                        a.nav-link.text-capitalize(href ="/add") add               
                li.nav-item
                    a.nav-link.text-capitalize(href ="/images") image
                li.nav-item
                    a.nav-link.text-capitalize(href ="/videos") video
                li.nav-item
                    a.nav-link.text-capitalize(href ="/about") about
                if user
                    li.nav-item
                        a.nav-link.text-capitalize(href ="/user/profile/"+user._id)
                            img.card-img(src=`${user.avatar}` style="width:25;height:25;border-radius:50%" title="profile")
                if user
                    li.nav-item
                        a.nav-link.text-danger(href ="/logout") Signout
                if !user
                    li.nav-item
                        a.nav-link.text-capitalize.text-info(href="/sign-in") sign-up
                    li.nav-item
                        a.nav-link.text-capitalize.text-success(href="/sign-in") sign-in
