extends layout
block content
  .container
    .card.mt-4(style="width: 50%;margin: auto;padding: 2rem;")
      h2.text-center
        span.fas.fa-users.fa-2x.text-info.pb-2
      p.text-center.py-2 Select Sign-up Method
      a.btn.btn-block.btn-white.text-danger.btn-outline-danger.dark(href="/auth/google") Google
        span.fab.fa-google.float-left
      a.btn.btn-block.btn-dark(href="/auth/github") Github
        span.fab.fa-github.float-left
      br
      a.btn.btn-link.fas.fa-arrow-left.float-left.text-dark.fa-2x(href="/")