extends layout
block content
  .container-fluid
    .card
      include ./messages/message
      .card-body.mx-auto.mt-4
        .row
          .col-sm-10.col-md-6.col-lg-6
            h2.text-center
              span.fas.fa-user
            form.form-group(action="/auth/google/sign-in" method="post")
              input.form-control.my-2(type="text" email="email" placeholder="enter a valid email..." disabled)
              input.form-control.my-2(type="password" name="password" placeholder="enter password..." disabled)
              button.btn.form-control.btn-info(type="submit" disabled) submit
              em.mt-2.btn-block.alert-warning form currently not working.
          .col-sm-10.col-md-6.col-lg-6
            p.text-center
              strong.text-capitalize choose a sign-in | sign-up method
            p
              a.btn.btn-link.btn-block.btn-danger.text-white(href="/auth/google") google
              a.btn.btn-link.btn-block.btn-dark.text-white(href="/auth/github") github
            hr
        a.nav-link.fas.fa-arrow-alt-circle-left.fa-2x.float-left(href="/" title="go to home")

      