body {
    background: #f1f1f1
}

.card {
    border: 0;
    background: transparent
}

#Home_Card .card-footer {
    visibility: hidden;
    opacity: 0;
    transition: all .5s linear
}

#Home_Card:hover .card-footer {
    visibility: visible;
    opacity: 1
}


#Image .card-footer {
    visibility: hidden;
    opacity: 0;
    transition: all .5s linear;
    border: 0;
}

#Image:hover .card-footer {
    visibility: visible;
    opacity: 1;
}

#Video .card-footer {
    visibility: hidden;
    opacity: 0;
    transition: all .5s linear;
    border: 0;
}

#Video:hover .card-footer {
    visibility: visible;
    opacity: 1;
}